<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <base href="/">
    <title>Picterest by Luke Walker</title>
    <meta name="description" content="Picterest, a Pinterest Clone by Luke Walker">
    <meta name="author" content="Luke Walker">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- builtd:css(.tmp) styles/main.css -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,400italic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="picterestApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div layout="column" layout-fill ng-controller="NavigationCtrl as ctrl" ng-cloak>
      <md-toolbar>
        <div layout="row" layout-xs="column">
          <h1 hide-gt-xs>
            Picterest | {{ ctrl.title() }}
          </h1>
          <h1 hide-xs layout-margin>
            <a href="/">Picterest</a>
          </h1>
          <span hide-xs class="page-title" layout-padding>{{ ctrl.title() }}</span>
          <div class="md-toolbar-tools" layout="row">
            <span flex></span>
            <span ng-hide="ctrl.isAuthenticated">
              <span class="menu-text">Sign in using:</span>
              <md-button class="md-fab md-mini fa fa-github" id="github" aria-label="Sign in with Github" ng-click="ctrl.authenticate('github')">
                <md-tooltip>Sign in with Github</md-tooltip>
              </md-button>
              <md-button class="md-fab md-mini fa fa-twitter" id="twitter" aria-label="Sign in with Twitter" ng-click="authService.login()">
                <md-tooltip>Sign in wih Twitter</md-tooltip>
              </md-button>
            </span>
            <span ng-show="ctrl.isAuthenticated" layout="row" layout-align="end center">
              <md-button class="md-fab md-mini fa fa-plus-circle" id="addpic" aria-label="Add a picture" ng-click="ctrl.addPicModal($event)">
                <md-tooltip>Add a new picture</md-tooltip>
              </md-button>
              <md-button class="md-accent md-raised" id="mypics" aria-label="My Pics" ng-href="/user/{{ ctrl.user.username }}">
                My Pics
              </md-button>
              <md-button id="allpics" aria-label="All Pics" href="/">
                All Pics
              </md-button>
              <md-button id="signout" aria-label="Sign Out" ng-click="ctrl.logout()">
                Sign Out
              </md-button>
            </span>
          </div>
        </div>
      </md-toolbar>
      <md-content layout-gt-xs="row" layout="col" class="main">
        <div ng-view layout="row" flex layout-align="start start">

        </div>
      </md-content>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/satellizer/dist/satellizer.js"></script>
    <script src="bower_components/auth0-lock/build/lock.js"></script>
    <script src="bower_components/angular-lock/angular-lock.js"></script>
    <script src="bower_components/angular-jwt/dist/angular-jwt.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="https://use.fontawesome.com/9cbd10f37a.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/services/data.js"></script>
        <script src="scripts/services/user.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/navigation.js"></script>
        <script src="scripts/controllers/userboard.js"></script>
        <script src="scripts/directives/errsrc.js"></script>
        <!-- endbuild -->
</body>
</html>
