// bower:scss
// endbower

/* Picterest styles */
body {
  height: 100%;
  width: 100%;
}
#github, #twitter, #addpic {
  position: relative;
  margin: 0 5px;
  padding: 0;
  color: #fff;
  background-color: #00BCD4;
}

#github {
  font-size: 36px;
}

#twitter {
  font-size: 30px;
}

#addpic {
  font-size: 30px;
}

.menu-text {
  padding: 0 5px;
}

.main {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #666666;
}

.addPicDialog {
  background: white;
  border-radius: 4px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
      0 13px 19px 2px rgba(0, 0, 0, 0.14),
      0 5px 24px 4px rgba(0, 0, 0, 0.12);
  width: 750px;
  max-height: 100%;
}
@media only screen and (max-width: 749px) {
  .demo-dialog-example {
    width: 500px;
  }
}

.add-dialog-content {
  padding: 0 15px;
  width: 100%;
}
.add-dialog-button {
  width: 100%;
}
.demo-dialog-custom-animation-open {
  opacity: 1;
  transition: all 1s linear, opacity 1ms;
  transform: rotate(390deg);
}
.demo-dialog-custom-animation-close {
  opacity: 0;
  transition: all 1s linear, opacity 1ms;
  transform: rotate(0deg);
}

#addPicImage {
  display: block;
  max-height: 720px;
  max-width: 720px;
  width: auto;
  height: auto;
  margin: 5px;
}

@media only screen and (max-width: 749px) {
  #addPicImage {
    max-width: 450px;
  }
}

.container > label {
  width: 100px;
  text-align: right;
  padding: 10px;
}

.container > input {
  border: none;
  border-bottom: 1px solid gray;
  max-width: 100%;
  width: 500px;
}
