// bower:scss
// endbower

/* Picterest styles */
body {
  height: 100%;
  width: 100%;
}
#github, #twitter {
  position: relative;
  margin: 0 5px;
  padding: 0;
  color: #fff;
  background-color: #00BCD4;
}


#github {
  font-size: 36px;
}
#twitter {
  font-size: 30px;
}
.menu-text {
  padding: 0 5px;
}

.main {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #666666;
}
.demo-md-panel {
  min-height: 500px;
}
.demo-dialog-example {
  background: white;
  border-radius: 4px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
      0 13px 19px 2px rgba(0, 0, 0, 0.14),
      0 5px 24px 4px rgba(0, 0, 0, 0.12);
  width: 500px;
}
.demo-dialog-content {
  padding: 0 15px;
  width: 100%;
}
.demo-dialog-content img {
  height: 300px;
  margin: auto;
}
.demo-dialog-button {
  width: 100%;
}
.demo-dialog-custom-animation-open {
  opacity: 1;
  transition: all 1s linear, opacity 1ms;
  transform: rotate(390deg);
}
.demo-dialog-custom-animation-close {
  opacity: 0;
  transition: all 1s linear, opacity 1ms;
  transform: rotate(0deg);
}
