// bower:scss
// endbower

/* Picterest styles */
body {
  background-color: #666666;
  overflow-y: hidden;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.menu-text {
  padding: 0 5px;
}

.site-title {
  display: inline-block;
  font-weight: 700;
  font-size: 36px;
}

.page-title {
  display: inline-block;
  color: white;
  background-color: rgb(0,188,212);
  font-size: 36px;
  font-weight: 400;
  width: auto;
  padding-top: 12px;
}

@media screen and (max-width: 420px) {
  h1 {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    color: white;
    font-size:24px;
  }
}

#github, #twitter, #addpic, #mypicsround, #allpicsround, #signoutround  {
  position: relative;
  margin: 0 5px;
  padding: 0;
  color: #fff;
  background-color: #00BCD4;
}

#github {
  font-size: 36px;
}

#twitter {
  font-size: 30px;
}

#addpic, #mypicsround, #allpicsround, #signoutround {
  font-size: 30px;
}

.addPicDialog {
  background-color: rgb(66, 66, 66);
  border-radius: 4px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
      0 13px 19px 2px rgba(0, 0, 0, 0.14),
      0 5px 24px 4px rgba(0, 0, 0, 0.12);
  max-width: 100%;
  max-height: 100%;
  position: relative;
  display: block;
}

.addPicDialog {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
@media screen and (min-width: 500px) {
  .addPicDialog {
    width: 480px;
    height: 600px;
   }
}

@media screen and (min-width: 750px) {
  .addPicDialog {
    width: 700px;
    height: 740px;
  }
}

.add-dialog-content{
  position: relative;
  display: block;
  width: 100%;
  padding: 0 10px;
}

@media screen and (min-width: 421px) {
  .add-dialog-pic {
    padding: 15px 10px;
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .add-dialog-pic {
    padding: 15px;
  }
}
.add-dialog-button {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.preview {
  position:relative;
  display: block;
  width: auto;
  height: auto;
  max-width: 640px;
  margin: 15px auto;
}

@media screen and (max-width: 420px) {
  .preview {
    margin: 15px 0;
  }
}

#addPicImage, .preview {
  position:relative;
  display: block;
  max-width: 400px;
  max-height: 300px;
}


@media screen and (min-width: 500px) {
  #addPicImage, .preview {
    max-width: 450px;
    max-height: 337px;
  }
}

@media screen and (min-width: 750px) {

  #addPicImage {
    display: block;
    position: relative;
    max-width: 640px;
    max-height: 480px;
    margin: 15px auto;
  }
}

#addPicImage {
  background-color: lightgray;
}

#addPicImage > span {
  display: block;
  position: relative;
  margin: 30% auto;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
}

#addImg {
  position:relative;
  display: block;
  width: 100%;
  height: 100%;
}

.cyan {
  color: rgb(0,188,212);
}

i {
  font-size: 24px;
  color: white;
}

.addPicForm {
  position: relative;
  display: block;
  padding-bottom: 36px;
}
#about {
  color: white;
  font-size: 14px;
  position: fixed;
  bottom: 5px;
  right: 5px;
}

.pic-card {
  margin: 10px !important;
}

.title-text {
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

.subhead {
  font-size: 14px;
}

.no-margin {
  margin: 0 !important;
}
