<div role="dialog" aria-label="Login" layout="column" layout-align="center center">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Login</h2>
    </div>
  </md-toolbar>
  <div class="demo-dialog-content" ng-controller="LoginCtrl as ctrl">
    <md-button ng-click="authenticate('github')">Sign in with GitHub</md-button>
  </div>
  <div layout="row" class="demo-dialog-button">
    <md-button md-autofocus flex class="md-primary" ng-click="ctrl.closeDialog()">
      Close
    </md-button>
  </div>
</div>
