<md-card md-whiteframe="10" layout-padding flex-gt-sm="33" flex-sm="50" flex="100" ng-repeat="pic in vm.pics">
  <md-card-title-text>
    <span class="md-headline">{{ pic.title }}</span>
    <span layout="row" layout-align="start center">
      <span class="md-subhead">{{ pic.posters[0].username }}</span>
      <md-button class="md-icon-button" ng-hide="vm.likedThis(pic)" ng-click="vm.like(pic)">
        <md-icon>favorite</md-icon>
        <md-tooltip>Like This</md-tooltip>
      </md-button>
      <md-button class="md-icon-button" ng-show="vm.likedThis(pic)" ng-click="vm.unlike(pic)  ">
        <md-icon class="md-accent">favorite</md-icon>
        <md-tooltip>Like This</md-tooltip>
      </md-button>
      <span class="md-subhead">{{ pic.likers.length }}</span>
      <md-button class="md-icon-button">
        <md-icon>replay</md-icon>
        <md-tooltip>Repost</md-tooltip>
      </md-button>
      <span class="md-subhead">{{ pic.posters.length - 1 }}</span>
    </span>
  </md-card-title-text>
  <div layout="row" layout-align="center center">
    <img src="{{ pic.url }}" class="md-card-image" alt="{{ pic.title }}"/>
  </div>
</md-card>
